@font-face {
    font-family: 'SpartanRegular';
    src: url('fonts/SpartanRegular.eot');
    src: url('fonts/SpartanRegular.eot') format('embedded-opentype'), url('fonts/SpartanRegular.woff2') format('woff2'), url('fonts/SpartanRegular.woff') format('woff'), url('fonts/SpartanRegular.ttf') format('truetype'), url('fonts/SpartanRegular.svg#SpartanRegular') format('svg');
}

@font-face {
    font-family: 'SpartanMedium';
    src: url('fonts/SpartanMedium.eot');
    src: url('fonts/SpartanMedium.eot') format('embedded-opentype'), url('fonts/SpartanMedium.woff2') format('woff2'), url('fonts/SpartanMedium.woff') format('woff'), url('fonts/SpartanMedium.ttf') format('truetype'), url('fonts/SpartanMedium.svg#SpartanMedium') format('svg');
}

@font-face {
    font-family: 'SpartanBold';
    src: url('fonts/SpartanBold.eot');
    src: url('fonts/SpartanBold.eot') format('embedded-opentype'), url('fonts/SpartanBold.woff2') format('woff2'), url('fonts/SpartanBold.woff') format('woff'), url('fonts/SpartanBold.ttf') format('truetype'), url('fonts/SpartanBold.svg#SpartanBold') format('svg');
}

:root {
    --very-dark: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish: hsl(303, 10%, 53%);
    --light-grayish: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    background: url(images/bg-pattern-top-mobile.svg) top left no-repeat, url(images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
    display: flex;
    min-height: 100vh;
}

main {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'SpartanRegular';
}

.info {
    text-align: center;
}

.info h1,
.rating {
    color: var(--very-dark);
    font-family: 'SpartanBold';
}

.rating div {
    text-align: center;
    background-color: var(--light-grayish);
    border-radius: .5rem;
    font-size: .8rem;
    padding: .8rem 0 .1rem;
    margin: .8rem 0;
    line-height: .8;
}

.rating p {
    line-height: .8;
}

.rating div::before {
    content: url(images/icon-star.svg) " " url(images/icon-star.svg) " " url(images/icon-star.svg) " " url(images/icon-star.svg) " " url(images/icon-star.svg);
}

p {
    font-size: .9rem;
    line-height: 1.6;
}

.reviews {
    margin: 1rem 0;
}

.buyer {
    background-color: var(--very-dark);
    border-radius: .5rem;
    padding: .5rem 1.2rem;
    margin: 1rem 0;
    color: var(--light-grayish);
}

span {
    display: block;
    line-height: 2;
    color: var(--soft-pink);
}

img {
    border-radius: 3.5rem;
    overflow: hidden;
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}

.buyer div {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg) top left no-repeat, url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info rating" "reviews reviews";
        gap: 1rem;
    }
    .info {
        grid-area: info;
        text-align: left;
        padding: 0 6rem 0 0;
    }
    .rating {
        grid-area: rating;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: .1rem;
    }
    .rating div {
        margin: .5rem;
        padding: .1rem .1rem;
    }
    .rating div::before {
        display: none;
    }
    .rating p::before {
        content: url(images/icon-star.svg) " " " " url(images/icon-star.svg) " " " " url(images/icon-star.svg) " " " " url(images/icon-star.svg) " " " " url(images/icon-star.svg);
        margin: 0 1rem 0 0;
    }
    .rev {
        grid-column: 1/11;
        grid-row: 1;
    }
    .report {
        grid-column: 2/12;
        grid-row: 2;
    }
    .tech {
        grid-column: 3/13;
        grid-row: 3;
    }
    .reviews {
        grid-area: reviews;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, minmax(0, 1fr));
        column-gap: 1rem;
        row-gap: .1rem;
    }
    .buyer {
        margin: 0;
        padding: .5rem 1.8rem;
    }
    .one {
        grid-column: 1;
        grid-row: 2/11;
    }
    .two {
        grid-column: 2;
        grid-row: 3/12;
    }
    .three {
        grid-column: 3;
        grid-row: 4/13;
    }
}


/*.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}*/